// Base color on Palleton.com = #970808
$deepRed: #360000;
$red: #a80000;
$brightRed: #eb0202;
/* MOBILE ========================= */

/* Whole document */
html {
    padding: 0;
}
body {
    margin: 0;
    background-color: $deepRed;
    color: white;
}
* {
    box-sizing: border-box;
    // border: solid 1px limegreen;
}
[class*="col-"] {
    float: left;
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Header */
header {
    margin-bottom: 1rem;
    text-align: center;
}
#title {
    font-size: 12vw;
    margin: 1rem auto;
    font-weight: bold;
    width: fit-content;
    a {
        text-decoration: none;
        color: $brightRed;
    }
    @media only screen and (min-width: 1000px) {
        position: absolute;
        left: 330px;
        top: 65px;
        font-size: 9vw;
        margin: 0;
        padding: 0;
    }
}
#main-nav ul {
    font-size: 6vw;
    padding: 0;
    list-style-position: inside;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 1rem;
        a, a:hover {
            color: $brightRed;
            text-decoration: none;
        }
    }
    @media only screen and (min-width: 1000px) {
        margin: 0.1rem auto 0.1rem 300px;
        font-size: 2em;
        text-align: left;
    }
}
figure {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 500px;
    img {
        width: 100%;
        border: 1px solid $brightRed;
    }
}
.cover-img {
    max-width: none;
}
#logo {
    max-width: 400px;
    @media only screen and (min-width: 1000px) {
        position: absolute;
        width: 300px;
        margin: 0;
        padding: 0;
    }
}

/* Main content */
p, ul {
    font-size: 1.2em;
    text-align: center;
}
ul {
    width: fit-content;
    margin: 0.5rem auto;
    text-align: left;
}
a {
    color: $brightRed;
}
.sublinks {
    @media only screen and (min-width: 1000px) {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

/* Footer */
footer {
    hr {
        border: 4px double;
    }
    h5 {
        font-size: 1.2em;
        text-align: center;
        margin: 1rem auto;
    }
    .credit {
        p {
            color: gray;
            text-align: center;
        }
    }
    @media only screen and (min-width: 1000px) {
        .right {
            h5, ul {
                text-align: left;
                margin: 1rem auto 1rem 0.5rem;
            }
        }
        .left {
            h5, ul {
                text-align: right;
                margin: 1rem 0.5rem 1rem auto;
            }
        }
    }
}

/* TABLETS =================== */
@media only screen and (min-width: 700px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

}

/* DESKTOP =========================== */
@media screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}