/* Imports */
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/b737b139/stylesheets/twilight.css'); /* gist theme */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "pallete.css";

/* Variables */
:root { 
  --border-roundness-15: 15px;
  --border-roundness-5: 5px;
}

/* MOBILE ========================= */

/* Whole page */
html {
  background-image: linear-gradient(to bottom, rgba(var(--superDark-shiny-purple), 1), rgba(var(--superDark-deep-purple), 1));
}
body {
  background-color: #00000044;
  border-radius: var(--border-roundness-15);
  color: rgba(var(--white), 1);
  margin: 0;
  text-align: center;
  font-family: "Jura", "Comfortaa", Verdana, Tahoma, Helvetica, Arial, sans-serif;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  /*border: solid 1px limegreen;*/
}
[class*="col-"] {
  float: left;
  padding: 0.2vh 2.8vw;
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Page top */
header {
  margin-top: 28px;
}
header strong {
  font-size: 4.9vw;
  color: rgba(var(--superLight-shiny-orange), 1);
  text-decoration: none;
}
header svg {
  width: 200px;
  height: auto;
  fill: rgba(var(--superLight-pastelLight-orange), 1);
  stroke: rgba(var(--superLight-pastelLight-orange), 1);
  opacity: 15%;
  margin-bottom: -5rem;
}
.divisor {
  color: rgba(var(--shiny-orange), 1);
}
.homelink {
  text-decoration: none;
  color: rgba(var(--shiny-orange), 1);
  font-size: 13vw;
  /* font-family: Caligrafiti / Cinzel decorative (Google);*/
}
.mainlinks-bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 34px;
  background-color: rgba(var(--superDark-deep-purple), 0.93);
  z-index: 1;
}
.mainlinks label {
  position: fixed;
  top: 8px;
  right: 10px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.homeicon {
  position: fixed;
  top: 6px;
  left: 8px;
  display: inline-block;
  stroke: rgba(var(--superLight-shiny-purple), 1);
  fill: rgba(var(--superLight-shiny-purple), 1);
  z-index: 1;
}
.mainlinks input {
  display: none;
}
.mainlinks div {
  display: none;
  width: fit-content;
  background-color: rgba(var(--superDark-deep-purple), 0.93);
  position: fixed;
  top: 34px;
  right: 0;
  z-index: 1;
  border-radius: var(--border-roundness-5);
  padding: 1rem 0;
}
.mainlinks input:checked ~ .mainlinks-content {
  display: block;
}
.mainlinks ul {
  list-style: none;
  margin: 0 auto;
  width: fit-content;
  padding: 0;
  text-align: center;
}
.mainlinks li {
  font-size: 1.5rem;
  margin: 0.8em auto;
  padding: 0.2rem 1rem;
}
.mainlinks a {
  text-decoration: none;
}
.navicon {
  width: 20px;
  height: auto;
  stroke: rgba(var(--superLight-shiny-purple), 1);
}

/* Main content */
h1 {
  font-size: 2em;
  background-color: rgba(var(--superDark-pastelLight-purple), 0.25);
  border-radius: var(--border-roundness-15);
  padding: 0.2rem;
}
h2 {
  font-size: 1.3em;
  background-color: rgba(var(--superDark-pastelLight-purple), 0.25);
  border-radius: var(--border-roundness-15);
  margin: 1rem auto;
  padding: 0.2rem;
}
h3 {
  color: rgba(var(--gray), 1);
  font-style: italic;
  font-size: 1.2em;
  text-align: left;
}
hr {
  border: 3px dotted;
  border-radius: var(--border-roundness-15);
}
p {
  overflow: auto;
  margin: 0.7rem 0.1rem;
  width: fit-content;
  max-width: 1000px;
  padding: 0.2rem;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: left;
}
figure {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  margin: auto;
}
a {
  text-decoration: none;
  color: rgba(var(--light-shiny-blue), 1);
}
ul, ol, dl {
  text-align: left;
  width: fit-content;
  margin: 1rem auto;
}
li {
  line-height: 1.3em;
}
strong {
  text-decoration: underline;
}
pre {
  text-align: left;
  margin: 0.3rem;
  padding: 0.5rem;
  overflow: auto;
  border: 2px dotted rgba(var(--light-shiny-green), 1);
  border-radius: 1%;
  box-shadow: 1px 5px 8px rgba(var(--black), 0.9), -1px 5px 8px rgba(var(--superDark-deep-purple), 1);
  background-color: rgba(var(--superDark-deep-green), 0.7);
}
pre code {
  color: rgba(var(--superLight-pastelLight-green), 1);
}
code {
  color: rgba(var(--light-shiny-green), 1);
  font-size: 0.9em;
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}
.legenda {
  border: solid rgba(var(--light-gray), 1) 1px;
  padding: 0.2rem;
  padding-right: 0.6rem;
  color: rgba(var(--light-gray), 1);
  width: fit-content;
  max-width: 90%;
  margin: auto;
}
.legenda ul {
  margin: 0.2rem auto;
  list-style-position: outside;
}
.portraits-p img {
  width: 100%;
  height: auto;
  max-height: 100vw;
  object-fit: cover;
  float: left;
  border-radius: 40%;
  margin-bottom: 1rem;
}
.social_links {
  margin: -0.7rem 0 0.6rem 0;
}
.cta {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  line-height: 1.5em;
  border-radius: var(--border-roundness-5);
  border: 3px outset;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  margin: 0.4rem auto;
  padding: 0 0.3rem;
  background-color: rgba(var(--superLight-shiny-orange), 1);
  border-color: rgba(var(--dark-neon-orange), 1);
}
.cta:active {
  border-style: inset;
}
.cta a {
  margin: auto;
  color: rgba(var(--dark-neon-orange), 1);
}
.cta span {
  color: rgba(var(--superLight-shiny-blue), 1);
}
.scThumb iframe {
  width: 100%;
  height: 300px;
}
.scThumb div {
  color: rgba(var(--superLight-shiny-purple), 1);
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.scThumb a {
  color: rgba(var(--superDark-deep-purple), 1);
}
.yt-video {
  max-width: 600px;
  margin: 1rem auto;
}
.yt-video div {
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}
.yt-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--border-roundness-15);
}
.gist {
  width: 100%;
  max-width: 850px;
  overflow: auto;
  margin: auto;
}
.gist .blob-wrapper.data {
  max-height: 300px;
  overflow: auto;
}
.centered {
  width: fit-content;
  margin: auto;
}
.portfolio-list {
  list-style-type: circle;
  list-style-position: inside;
  padding: 0;
  margin: 1rem auto;
  dt {
    line-height: 1.8em;
    font-size: 1.15em;
  }
  dd {
    font-style: italic;
    text-align: left;
    margin: 0 0 0 0.5rem;
    font-size: 0.95em;
  }
}
#homeSongs + ul {
  background-color: rgba(var(--superLight-pastelLight-orange), 1);
  font-size: 1.1em;
  padding: 0.8rem;
  list-style: none;
  width: 100%;
  margin: auto;
  border-radius: var(--border-roundness-15);
}
#homeSongs + ul li {
  margin-bottom: 0.3rem;
}

/* Page lower */
footer {
  float: left;
  clear: both;
  width: 100%;
}
footer p {
  margin-bottom: 0.5rem;
}
footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0.2rem auto;
  width: auto;
}
footer hr {
  border: 1px solid;
  border-radius: var(--border-roundness-15);
}
.left h5, .right h5 {
  font-size: 1.1em;
  margin: 0.8rem auto;
}
.copyright {
  opacity: 50%;
  font-size: 0.9em;
  margin: auto;
  width: fit-content;
}

@media only screen and (min-width: 700px) { /* TABLETS =================== */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  /* Whole page */
  body {
    padding-top: 3vh;
  }

  /* Page top */
  header {
    margin-top: 1rem;
  }
  header strong {
    font-size: 1.2rem;
  }
  .homelink {
    font-size: 8vw;
  }
  .mainlinks label, .mainlinks-bar, .homeicon {
    display: none;
  }
  .mainlinks div {
    display: table;
    width: 100%;
    padding: 0;
    background-color: rgba(var(--superDark-deep-purple), 0.9);
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .mainlinks ul {
    width: 100%;
    padding: 0.5rem 0;  
    padding: 0.1rem;
  }
  .mainlinks li {
    display: inline-block; 
    font-size: 1.4em;
    margin: auto;
  }

  /* Main content */
  .portraits-p {
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
  }
  .portraits-p a {
    border-radius: 38%; 
    padding: 0.4rem;
    margin-right: 0.4rem;
  }
  .portraits-p img {
    width: auto;
    margin: 0;
    height: 240px;
  }
  .scThumb iframe {
    height: 130px;
    width: 400px;
  }
  .scThumb a {
    font-size: 0.8em;
  }
  #homeSongs + ul {
    width: fit-content;
  }
  #homeSongs + ul li {
    display: inline-block;
    margin: auto 0.3rem;
  }

  /* Page lower */
  footer hr {
    opacity: 0;
  }
  .left, .left ul {
    text-align: right;
    margin-right: 0;
  }
  .right, .right ul {
    text-align: left;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) { /* DESKTOP =========================== */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  /* Whole page */
  html {
    background: conic-gradient(
      rgba(var(--superDark-shiny-purple), 1), 
      rgba(var(--superDark-deep-purple), 1), 
      rgba(var(--superDark-shiny-purple), 1), 
      rgba(var(--superDark-deep-purple), 1), 
      rgba(var(--superDark-shiny-purple), 1)
      ) repeat-y fixed;
  }
  body {
    margin: 0.5rem 3rem 2rem 3rem;
    padding-top: 0;
    box-shadow: 1px 5px 8px rgba(var(--black), 0.9), -1px 5px 8px rgba(var(--superDark-deep-purple), 1);
  }

  /* Page top */
  header {
    margin-top: 0;
  }
  header svg {
    min-width: 12vw;
  }
  .homelink {
    font-size: 5vw;
  }
  .homelink:hover {
    color: rgba(var(--shiny-orange), 1);
  }
  .mainlinks ul {
    width: 100%;
  }
  .mainlinks li {
    margin: auto 0.3rem;
  }

  /* Main content */
  h2 {
    width: 80%;
  }
  h3 {
    text-align: center;
  }
  a:hover {
    color: rgba(var(--superLight-shiny-green), 1);
  }
  .cta a:hover {
    color: rgba(var(--dark-neon-orange), 1);
  }
  .scThumb a:hover {
    color: rgba(var(--superDark-neon-purple), 0.5);
  }
  .legenda {
    padding: 0.3rem;
  }

  /* Page lower */

}

/* For precaution */
@media only screen and (max-width: 200px) {
  body {
    word-break: break-all;
  }
  }