/* Variables */
:root {
  --purple: #cbacff;
  --orange: #ffbd70;
  --backColor: #12042aaa;
  --htmlFade1: #2a0072;
  --htmlFade2: #0c031c;
  --lightBlue: #a8e3ff;
  --lightPurple: #cbacff;
  --lightGreen: #d5ffa4;
  --lightOrange: #ffd5a4;
  --darkOrange: #693800;
  --darkPurpleAlpha: #0c031cfc;
  --worksBackColor: #ffdfba;
  --borderRoundness: 15px;
  --borderRoundness2: 5px;
}

/* MOBILE ========================= */

/* Whole page */
html {
  background-image: linear-gradient(to bottom, var(--htmlFade1), var(--htmlFade2))
}
body {
  background-color: #00000044;
  border-radius: var(--borderRoundness);
  color: whitesmoke;
  margin: 0;
  text-align: center;
  font-family: "Jura", "Comfortaa", Verdana, Tahoma, Helvetica, Arial, sans-serif;
  min-height: 100vh;
}
[class*="col-"] {
  float: left;
  padding: 0.2vh 2.8vw;
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
  border: solid 1px red;
}

/* Page top */
header {
  margin-top: 28px;
}
header strong {
  font-size: 4.9vw;
  color: var(--orange);
}
header svg {
  width: 200px;
  height: auto;
  fill: var(--orange);
  stroke: var(--orange);
  opacity: 15%;
  margin-bottom: -5rem;
}
.divisor {
  color: var(--orange);
}.homelink {
  text-decoration: none;
  color: var(--orange);
  font-size: 13vw;
  /* font-family: Caligrafiti / Cinzel decorative (Google);*/
}
.mainlinks-bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 34px;
  background-color: var(--darkPurpleAlpha);
  opacity: 0.96;
}
.mainlinks label {
  position: fixed;
  top: 8px;
  right: 10px;
  display: inline-block;
  cursor: pointer;
}
.homeicon {
  position: fixed;
  top: 6px;
  left: 8px;
  display: inline-block;
  stroke: var(--purple);
  fill: var(--purple);
}
.mainlinks input {
  display: none;
}
.mainlinks div {
  display: none;
  width: fit-content;
  background-color: var(--darkPurpleAlpha);
  opacity: 0.96;
  position: fixed;
  top: 34px;
  right: 0;
  z-index: 1;
  border-radius: var(--borderRoundness);
  padding: 1rem 0;
}
.mainlinks input:checked ~ .mainlinks-content {
  display: block;
}
.mainlinks ul {
  list-style: none;
  margin: 0 auto;
  width: fit-content;
  padding: 0;
  text-align: center;
}
.mainlinks li {
  font-size: 1.5rem;
  margin: 0.8em auto;
  padding: 0.2rem 1rem;
}
.mainlinks a {
  text-decoration: none;
  color: var(--lightBlue);
}
.navicon {
  width: 20px;
  height: auto;
  stroke: var(--purple);
}

/* Main content */
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
hr {
  border: 3px dotted;
  border-radius: var(--borderRoundness);
}
p {
  overflow: auto;
  margin: 0.7rem auto;
  width: fit-content;
  padding: 0.2rem;
  font-size: 1.1em;
  line-height: 1.3em;
}
img {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: auto;
}
a {
  text-decoration: none;
  color: var(--orange);
}
ul {
  text-align: left;
  width: fit-content;
}
.legenda ul {
  margin: 0.2rem auto;
  list-style-position: outside;
}
.legenda p {
  margin: 0.1rem auto;
}
.portraits-p img {
  width: 100%;
  height: auto;
  max-height: 100vw;
  object-fit: cover;
  float: left;
  border-radius: 40%;
  margin-bottom: 1rem;
}
.social_links {
  margin: -0.7rem 0 0.6rem 0;
}
.cta {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  line-height: 1.5em;
  border-radius: var(--borderRoundness2);
  border: 3px outset;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  margin: 0.4rem auto;
  padding: 0 0.3rem;
  background-color: var(--lightOrange);
  border-color: var(--darkOrange);
}
.cta:active {
  border-style: inset;
}
.cta a {
  margin: auto;
  color: var(--darkOrange);
}
.cta span {
  color: var(--lightBlue);
}
.scThumb iframe {
  height: 140px;
  width: 100%;
}
.scThumb div {
  color: var(--lightPurple);
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}
.scThumb a {
  color: var(--htmlFade2);
}
#homeSongs + ul {
  background-color: var(--worksBackColor);
  font-size: 1.1em;
  padding: 0.8rem;
  list-style: none;
  width: 100%;
  margin: auto;
  border-radius: var(--borderRoundness);
}
#homeSongs + ul li {
  margin-bottom: 0.3rem;
}
#portfolio-list {
  font-size: 1.15em;
  line-height: 1.8em;
  list-style-type: circle;
  list-style-position: inside;
  padding: 0;
  margin: 1rem auto;
}

/* Page lower */
footer {
  float: left;
  clear: both;
  width: 100%;
}
footer p {
  margin-bottom: 0.5rem;
}
footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0.2rem auto;
  width: auto;
}
footer hr {
  border: 1px solid;
  border-radius: var(--borderRoundness);
}
.left h5, .right h5 {
  font-size: 1.1em;
  margin: 0.8rem auto;
}

@media only screen and (min-width: 500px) { /* TABLETS =================== */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  /* Whole page */
  body {
    padding-top: 3vh;
  }

  /* Page top */
  header {
    margin-top: 1rem;
  }
  header strong {
    font-size: 1.2rem;
  }
  .homelink {
    font-size: 8vw;
  }
  .mainlinks label, .mainlinks-bar, .homeicon {
    display: none;
  }
  .mainlinks div {
    display: table;
    width: 100%;
    padding: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
  }
  .mainlinks ul {
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 1%;
    background-color: var(--htmlFade2);
    border-bottom: 1px solid var(--htmlFade1);
    padding: 0.1rem;
  }
  .mainlinks li {
    display: inline-block; 
    font-size: 1em;
    margin: auto;
  }
  .mainlinks a {
    color: var(--color2);
  }

  /* Main content */
  .portraits-p {
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
  }
  .portraits-p a {
    background-color: var(--color); 
    border-radius: 38%; 
    padding: 0.4rem;
    margin-right: 0.4rem;
  }
  .portraits-p img {
    width: auto;
    margin: 0;
    height: 240px;
  }
  .scThumb iframe {
    height: 240px;
    width: 240px;
  }
  .scThumb a {
    font-size: 0.8em;
  }
  #homeSongs + ul {
    width: fit-content;
  }
  #homeSongs + ul li {
    display: inline-block;
    margin: auto 0.3rem;
  }

  /* Page lower */
  footer hr {
    opacity: 0;
  }
}

@media screen and (min-width: 800px) { /* DESKTOP =========================== */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  /* Whole page */
  html {
    background: conic-gradient(
      var(--htmlFade1), 
      var(--htmlFade2), 
      var(--htmlFade1), 
      var(--htmlFade2), 
      var(--htmlFade1)
      ) repeat-y fixed;
  }
  body {
    margin: 0.5rem 3rem 2rem 3rem;
    padding-top: 0;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.3), -1px 5px 8px var(--htmlFade2);
  }

  /* Page top */
  header {
    margin-top: 0;
  }
  header svg {
    min-width: 12vw;
  }
  .homelink {
    font-size: 5vw;
  }
  .homelink:hover {
    color: var(--orange);
  }
  .mainlinks ul {
    width: 100%;
  }
  .mainlinks li {
    margin: auto 0.3rem;
  }

  /* Main content */
  a:hover {
    color: var(--lightOrange);
  }
  .cta a:hover {
    color: var(--darkOrange);
  }
  .scThumb a:hover {
    color: var(--backColor);
  }

  /* Page lower */
  .left, .left ul {
    text-align: right;
    margin-right: 0;
  }
  .right, .right ul {
    text-align: left;
    margin-left: 0;
  }

}

/* For precaution */
@media only screen and (max-width: 200px) {
  body {
    word-break: break-all;
  }
  }