<div class="row">
    <div class="col-12 foot" style="padding-top: 0;">
        <hr class="divisor">
        <footer id="contact">
            <div class="col-4 col-s-4">
                <nav class="social_links">
                    <p><strong>Composição em SC (projeto em pausa)</strong></p>
                    <ul>
                        <li><a href="https://www.facebook.com/som.vezzo" target="_blank" title="Página no Facebook">Facebook</a></li>
                        <li><a href="https://www.instagram.com/som.vezzo" target="_blank" title="Canal no Instagram">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCTgjOwpowBnhiNwbCwH4Fog" target="_blank" title="Canal no YouTube">YouTube</a></li>
                        <!--<li>Telegram</li>-->
                    </ul>
                </nav>
                <hr>
            </div>
            <!--<div class="col-3 col-s-6">
                <nav class="social_links">
                    <p><strong>Teoria Musical (em breve)</strong></p>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                        <li>Telegram</li>
                    </ul>
                </nav>
                <hr>
            </div>-->
            <div class="col-4 col-s-4">
                <nav class="social_links">
                    <p><strong>Apoie meu trabalho!</strong></p>
                    <ul>
                        <li><a href="https://soundcloud.com/user-11932173-449510355" target="_blank" title="Portifolio no Soundcloud">Soundcloud</a></li>
                        <li><a href="https://som-vezzo.bandcamp.com/releases" target="_blank" title="Álbuns digitais">Bandcamp</a></li>
                        <!--<li><a href="https://www.patreon.com/som_vezzo" target="_blank" title="Canal no Patreon">Patreon</a></li>
                        <li>Buy me a coffee!</li>-->
                    </ul>
                </nav>
                <hr>
            </div>
            <div class="col-4 col-s-4">
                <nav class="social_links">
                    <p><strong>Contato</strong></p>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/som-vezzo/" target="_blank" title="Página no LinkedIn">Linkedin</a></li>
                        <li><a href="mailto:nicholas@som-vezzo.me">nicholas@som-vezzo.me</a></li>
                        <li><a href="https://wa.me/5519997847574">(19) 99784-7574</a><img src="/whatsIcon.png" style="width: auto; height: 1em;"></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</div>