{{ define "style" }}
    <style>
        body {
            box-shadow: none;
            min-height: 100vh;
        }
        header {
            padding-top: 1rem;
            width: 100%;
            align-items: center;
        }
        p {
            line-height: 1.5em;
            font-size: 1em;
            width: 100%;
        }
        main ul {
            list-style: none;
            padding: 0;
            margin: 1rem 1rem 1rem 0;
            width: 100%;
            font-size: 2em;
            line-height: 1.5em;
            text-align: center;
        }
    </style>
{{ end }}
{{ define "main" }}
    {{ partial "header.html" . }}
    <div class="row">
        <main class="col-12">
            {{ .Content }}
            <ul>
                {{ range .Site.Home.Pages }}
                    {{ if not (eq .Page.Params.hidden true) }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </main>
    </div>
    {{ partial "footer.html" . }}
{{ end }}