{{ define "style" }}
    <style>
        body {
            height: 100vh;
            box-shadow: none;
            background-color: #00000000
        }
        header {
            padding-top: 1rem;
            width: 100%;
            align-items: center;
        }
        header a {
            font-size: 0em;
        }
        p {
            line-height: 2.5em;
            font-size: 2em;
            width: 100%;
        }
        a {
            color: #cbacff;
        }
        @media only screen and (min-width: 500px) {
            
        }
    </style>
{{ end }}
{{ define "main" }}
    {{ partial "header.html" . }}
    <div class="row">
        <div class="col-12">
            {{ .Content }}
        </div>
    </div>
{{ end }}