{{ define "style" }}
    <style>
        body {
            box-shadow: none;
            min-height: 100vh;
        }
        header {
            padding-top: 1rem;
            width: 100%;
            align-items: center;
        }
        p {
            line-height: 1.5em;
            font-size: 1em;
            width: 100%;
        }
        a {
            color: var(--orange);
        }
        .index-links {
            font-size: 2em;
            line-height: 1.5em;
        }
        @media only screen and (min-width: 500px) {
            a:hover {
                color: var(--lightBlue);
            }
        }
    </style>
{{ end }}
{{ define "main" }}
    {{ partial "header.html" . }}
    <div class="row">
        <div class="col-12">
            {{ .Content }}
        </div>
    </div>
{{ end }}